<!-- Header included -->
<%- include("./partials/header.ejs") %>


	<link rel="stylesheet" href="css/style.css" />
	<body>
		<img style="border-radius: 50px; visibility: hidden; position: absolute; width: 45px; height: 330px; left: 396px; top: 80px; box-shadow: 7px 7px 3px rgba(128, 128, 128, 0.801); "
    	src="https://www.colorhexa.com/32465a.png" >
  		<a  href="videocall"><img id="VC" src="/img/video-call.png" ></a>
  		<a  href="chat"><img id="pChat" src="/img/pchat.png" ></a>
  		<a  href="login"><img id="logout" src="/img/logout.png" ></a>
		
		<div class="join-container">
			<header class="join-header">
				<h1> WebConnect</h1>
			</header>
			<main class="join-main">
				<form action="/chatcord">
					<div class="form-control">
						<label for="username">Username</label>
						<input
							type="text"
							name="username"
							id="username"
							placeholder="Enter username..."
							required
						/>
					</div>
					<div class="form-control">
						<label for="room">Select Server</label>
						<select name="room" id="room">
							<option value="JavaScript">JavaScript</option>
						    <option value="Python">Python</option>
							<option value="PHP">PHP</option>
							<option value="C#">C#</option>
							<option value="Ruby">Ruby</option>
							<option value="Java">Java</option>
						</select>
					</div>
					<button type="submit" class="btn">Join Chat</button>
				</form>
			</main>
		</div>

		
<!-- footer included -->
<%-include("./partials/footer.ejs") %>
