<!-- Header included -->
<%- include("./partials/header.ejs") %>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

</head>
<style>
    body {
        font-family: "Lato", sans-serif;
    }

    .main-head {
        height: 150px;
        background: rgb(207, 236, 203);

    }

    .sidenav {
        height: 100%;
        background-image: url("https://media0.giphy.com/media/2tNvsKkc0qFdNhJmKk/giphy.gif");
        overflow-x: hidden;
        padding-top: 50px;
        background-repeat: no-repeat;
        background-size: cover;
    }


    .main {
        padding: 0px 10px;

    }

    @media screen and (max-height: 450px) {
        .sidenav {
            padding-top: 15px;
        }
    }

    @media screen and (max-width: 450px) {
        .login-form {
            margin-top: 10%;
        }

        .register-form {
            margin-top: 10%;
        }
    }

    @media screen and (min-width: 768px) {
        .main {
            margin-left: 40%;
        }

        .sidenav {
            color: black;
            width: 40%;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
        }

        .login-form {
            margin-top: 40%;
        }

        .register-form {
            margin-top: 20%;
        }
    }


    .login-main-text {
        padding: 60px;
        color: rgb(27, 27, 27);
        

    }

    .main img {
        position: absolute;
        width: 170px;
        right: 20px;
        bottom: 30px;
    }


    .login-main-text h2 {
        font-weight: 300;
    }

    .login-logo {
        position: relative;
        left: 130px;
        width: 150px;
        box-shadow: 6px 6px 2px rgba(128, 128, 128, 0.801);
        border-radius: 75px;
    }
</style>

<body>
    <div class="sidenav">
        <div class="login-main-text">
            <img class="login-logo" src="/img/logo.png" alt="Computer man">
            <h2>Web Connect - Sign Up Page</h2>

            <p>Web Connect is a feature loaded messaging web application which facilitate users to send and receive
                messages and also allows users to connect over video calls. It also connects people with similar
                interests. It is a dynamic and formal web application.</p>
        </div>
    </div>
    <div class="main">
        <div class="col-md-6 col-sm-12">
            <div class="login-form">
                <form action="/" method="POST">
                    <div class="form-group">
                        <label>Name</label>
                        <input name="Name" type="text" class="form-control" placeholder="Name"><br>
                        <label>Linkedin</label>
                        <input name="Linkedin" type="text" class="form-control" placeholder="Username"><br>
                        <label for="">Github</label>
                        <input name="Github" type="text" class="form-control" placeholder="Username"><br>
                        <label>Email ID</label>
                        <input name="User" type="email" class="form-control" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input name="PASSWORD" type="password" class="form-control" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                    <button type="reset" class="btn btn-dark">Reset</button>
                    <br>
                    <br>
                    <br>
                </form>
            </div>
        </div>
    </div>

<!-- footer included -->
<%-include("./partials/footer.ejs") %>